
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;1,300;1,400&display=swap');


*
{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    margin: 0;
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.mobile-container
{
    width:400px;
    background-color: white;
    box-shadow: 0 0 5px #33333303;
    border-radius: 3px;
    overflow: hidden;    
}

header{
    padding: 1rem;
    display: flex;
    text-align: center;
    justify-content: center;
}
header input{
    padding: 0.5 rem 1rem;
     border-radius: 3px;
     border: none;
     background-color: #eee;
}

header button{
    background-color:transparent;
    color: #aaa;
    font-size: 1.5rem;
    border: none;
    margin-left: 10px;
}

.fav-container
{
   padding: 1rem;
   text-align: center;
   background-color: rgb(233,199,255);
   display: flex;
}

img{
    max-width:100%;

}


.fav-meals
{
    display: flex;
    list-style-type: none;
    padding: 0;
    overflow: auto;
    flex-wrap: wrap;
}

.fav-meals li{
  width: 85px;
}

.fav-meals li img{
    border: 2px solid #ffffff;
    width: 70px;
    height: 70ppx;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 5px #33333303;
}
.fav-meals li span{
    font-size: 0.8 rem;
}


.meal header img{
    object-fit: cover;
    height: 250px;
    width: 100%;
}
